@model EmployeeManagement.ViewModels.ViewUserInRoleViewModel
@{ 
    ViewBag.Title = "Edit Role";
}
<form method="post">
    <div class="card">
        <div class="card-header">
            <h2>Users in this role</h2>
        </div>
        <div class="card-body">
            @foreach(var user in Model.Users)
            {
               <h5 class="card-title">@user</h5>
            }
        </div>
        <div class="card-footer">
            <a asp-action="EditUsersInRole" asp-controller="account" asp-route-roleId="@Model.Id" class="btn" style="width:auto">Add or Remove User</a>
        </div>
    </div>
</form>