@model EmployeeManagement.Models.Employee

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Employee Details";
    var photoPath = "~/images/" + (Model.PhotoPath ?? "userlogo.png");
}


<div class="row justify-content-center m-3">
    <div class="col-sm-8">
        <div class="card">
            <div class="card-header text-center">
                <h3 class="card-title">@Model.Name</h3>
            </div>
            <div class="card-body text-center">
                <img src=@photoPath class="card-img-top" asp-append-version="true" style="width: 250px; height: 200px;" />
                <h3 class="m-2">Employee ID : @Model.Id</h3>
                <h3 class="m-2">Email : @Model.Email</h3>
                <h3 class="m-2">Department : @Model.Department</h3> 
            </div>
        </div>
    </div>
</div>