@{
    ViewData["Title"] = "Home Page";
}
<h1>This is the Employee Management Index Page</h1>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/employee.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/Employee2.jpg" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
            <img src="~/images/employee3.jpg" class="d-block w-100" alt="...">
        </div>
    </div>
</div>
